@model Hadis.Models.DBModels.Video

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить видео - "@Model.Title"</h2>

<h3>Вы уверены?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
